@import 'variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.button-primary {
  background-color: $color-kashmir-blue;
}

.button-primary {
  height: 45px;
  color: $color-white;
  padding: 5px 17px;
  margin: 0;
  font-size: $font-size-5;
  border-radius: 0.4rem;

  .button-icon {
    margin-right: map-get($spacers, 2);
    height: $size-24;
    width: $size-24;
  }

  .button-text {
    display: inline-block;
    vertical-align: middle;
  }
}

.button-link {
  text-decoration: underline;
  cursor: pointer;
  color: $color-smoky;

  &:hover {
    color: $color-smoky-hover;
    text-decoration: none;
  }
}