.single-panel-container {
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 3rem rgba(143, 159, 193, 0.2);

  .panel-header {
    display: flex;
    align-content: space-between;

    .search-title {
      flex-grow: 1;
    }

    .icon-title {

      display: inline-block;

      h2 {
        display: inline;
        vertical-align: middle;
      }
    }
  }
}