
/* Font Sizes */
$font-size-1: 4.0rem;
$font-size-2: 2.4rem;
$font-size-3: 1.6rem;
$font-size-4: 1.4rem;
$font-size-5: 1.2rem;
$font-size-6: 1.0rem;

/* Colors */
$color-smoky : #5D5C61;
$color-smoky-hover: #5d5c6173;
$color- : #379683;
$color-bermuda-grey : #7395AE;
$color-lighter-bermuda-grey: #7395ae80;
$color-kashmir-blue : #557A95;
$color-cloudy : #B1A296;
$color-white: white;
$color-white-hover: #f3f3f3;

// Standard sizes
$size-4: 0.4rem;
$size-8: 0.8rem;
$size-12: 1.2rem;
$size-16: 1.6rem;
$size-20: 2rem;
$size-24: 2.4rem;
$size-32: 3.2rem;
$size-36: 3.6rem;
