@import '../../../../styles/variables';


button.button-link {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: $color-smoky;
  border: none;
  padding: 0 !important;
  background: none !important;

  .button-text {
    text-decoration: none;
  }
}

